<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid row">
      <div class="col-sm-2">
        <a href="" class="navbar-brand">Smart To-Do</a>

      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-sm-10" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 row">
          <div class="navigation col-md-4">
            <li class="nav-item">
              <a href="" class="nav-link active" aria-current="page">Home</a>
            </li>
          </div>
          <% if(user) {%>
          <div class="user-profile col-md-8 me-auto">
            <li class="nav-item"><%= user.email %></li>
            <form action="/logout" method="post">
              <button type="submit" class="btn">Logout</button>
            </form>
            <img src= <%= user.avatar %> alt="" width="40">
            </div>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
<!-- <h1>Smart To-Do</h1> -->
</header>
