<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

      <a href="" class="navbar-brand">Smart To-Do</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <div class="navigation d-flex">
              <li class="nav-item">
                <a href="/" class="nav-link" aria-current="page">Home</a>
              </li>
            <% if (user) { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src=<%=user.avatar %> alt="" width="40" >
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#"><span>Name: <%= user.name %></span></a></li>
                  <li><a class="dropdown-item" href="#"><span>Email: <%= user.email %></span></a></li>
                  <!-- Update profile trigger modal -->
                  <li><a href="#" class="dropdown-item"><button type="button" class="btn btn-outline-primary" id="update-profile" data-bs-toggle="modal" data-bs-target="#update-form"> <i class="bi bi-brush"></i> Update Profile</button></a></li>
                  <li><a class="dropdown-item" href="#"><form action="/logout" method="post">
                      <button type="submit" class="btn btn-outline-dark"><i class="bi bi-door-open"></i> Logout</button>
                    </form></a>
                  </li>
                </ul>
              </li>

            <% } else { %>

              <li class="nav-item">
                <a href="/login" class="nav-link login" aria-current="page">Login</a>
              </li>
              <li class="nav-item">
                <a href="/register" class="nav-link register" aria-current="page">Register</a>
              </li>
            <% } %>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
