// See: https://sass-lang.com/

body {
  padding: 0;
  background-color: #EEE;

  header {
    background-color: snow;
    height: 100px;
    width: 100%;
    // position: fixed;
    // top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

      h1 {
        color: #244751;
        border: 1px red dotted;
        padding: 10px;
      }

    .userProfile {
      border: slategrey 1px dotted;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      .userInfo {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        align-items: center;
      }


      img {
        width:50px;
        height: 50px;
        border-radius: 25px;
      }
    }
  }
  ul {
    list-style: none;
    .list-item{
      background-color: snow;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
  }
  #todo-header {
    padding-right: 25px;
  }
  #todo-list {
    button:hover {
      cursor: pointer;
      color: crimson;
    }
    padding-right: 25px;
    .list-item {
      border: solid 3px black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .completed-button {
        margin-left: 10px;
      }
      .completed-button:hover {
        cursor: pointer;
        color: crimson;
      }
    }
    .item-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .hover-buttons button{
      border: none;
      background-color: transparent;
      height: 100%;
      padding:10px;
      margin:0;
    }
    .hover-buttons button:hover {
      visibility: visible;
    }
  }
  main{
    margin-top: 20px;
  }
  .column {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .button-box{
    margin-bottom: 30px;

    .list-button {
      padding-top: 20px;
      height: 100px;
      width: 100px;
      margin: 5px;
      color:white;
    }
  }
  .col-md{
    border: dotted 1px blue;

  }
  .inactive{background:steelblue}
  .item-input {
    visibility: hidden;
    input {
      border: none;
      border-bottom: black 3px solid;
      background-color: transparent;
    }
  }
}
