// See: https://sass-lang.com/

$mainBrandColor: #F060D6;
$secondaryFocus: #4C9FEB;
$textColor: #244751;
$lightTouch: snow;

body {
  padding: 0;
  background-color: #EEE;

  header {
    background-color: $lightTouch;
    height: 100px;
    width: 100%;
    // position: fixed;
    // top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

      h1 {
        color: $textColor;
        border: 1px red dotted;
        padding: 10px;
      }

    .userProfile {
      border: slategrey 1px dotted;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      color: $textColor;

      .userInfo {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        align-items: center;
      }


      img {
        width:50px;
        height: 50px;
        border-radius: 25px;
      }
    }
  }
  .search-result{
    border: red dotted 2px;
    display: flex;
    margin-top: 25px;
    border: solid black 4px;
    border-radius: 20px;
    background-color: $lightTouch;
    div {
      display: flex;
      width: 50%;
      height: 150px;
    }
    .left {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .right {
      align-items: center;
      justify-content: space-evenly;
    }
    .text-1 {
      overflow: hidden;
      text-overflow: ellipsis;
      border: green dotted 1px;
      margin: 10px;
      font-weight: bold;
      word-wrap: break-word;
    }
    .text-2{
      border: orangered dotted 1px;
      margin-left: 10px;
      padding: 10px;
    }
    .item-img {
      border: blueviolet dotted 1px;
      padding: 10px;
      height: 80%;
      max-width: 140px;
    }
    button {
      background-color: steelblue;
      color: $lightTouch;
      height: 50px;
      width: 80px;
      border-radius: 10px;
      padding: 15px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 15px;
    }
  }
  .search-result:hover {
    box-shadow: 3px 4px 0 slategray;
    cursor: pointer;
  }
  ul {
    list-style: none;
  }
  #todo-header {
    padding-right: 25px;
  }
  #todo-list {
    button:hover {
      cursor: pointer;
      color: crimson;
    }
    padding-right: 25px;
    .list-item {
      height: 150px;
      background-color: $lightTouch;
      padding: 10px;
      margin-bottom: 10px;
      border: solid black 4px;
      border-radius: 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .item-content{
        padding: 10px;
        height: 140px;
        display: flex;
        width: 60%;
        justify-content: space-between;
        text-align: left;
      }
      .text-1 {
        font-weight: bold;
        font-size: 1.1em;
        word-wrap: normal;
        overflow: hidden;
        height: 80px;
        margin-bottom: 0;
        vertical-align: middle;
        word-wrap: break-word;
      }
      .text-2 {
        margin: 0;
      }
      .completed-button {
        margin-left: 10px;
      }
      .completed-button:hover {
        cursor: pointer;
        color: crimson;
      }
      img {
        height: 100%;
        padding: 10px;
        border: 2px solid black;
        border-radius: 3px;
      }
    }
    .list-item:hover {
      box-shadow: 3px 4px 0 slategray;
      svg:hover {
        transform: scale(1.1);
      }
      svg {
        transition: all 1s;
        transform-origin: 50% 50%;
      }
    }
    .item-text {
      padding-right: 4px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: normal;
      justify-content: center;
    }
    .hover-buttons button{
      border: none;
      background-color: transparent;
      height: 100%;
      padding:10px;
      margin:0;
    }
    .hover-buttons button:hover {
      visibility: visible;
    }
  }
  main{
    margin-top: 20px;
  }
  .column {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .button-box{
    margin-bottom: 30px;

    .list-button {
      padding-top: 20px;
      height: 100px;
      width: 100px;
      margin: 5px;
      color: $lightTouch;
      transition: all 1s;
      transform-origin: 50% 50%;
    }
    .list-button:hover {
      transform: scale(1.05);
    }
  }
  .col-md{
    border: dotted 1px blue;

  }
  .inactive{background:steelblue}
  .item-input {
    visibility: hidden;
    input {
      border: none;
      border-bottom: black 3px solid;
      background-color: transparent;
    }
    input:focus {
      outline-width: 0;
  }
  }
}
